main
    .top-banner
        .bmw-img
            img(src="img/bmw.png")

        .container
            .doc-img
                img(src="img/girl.png")

            .top-banner__title
                p Медсправка водительская по новой форме 003-в/у
                p для категорий А, А1, В, В1, М, ВЕ

            .top-banner__cont
                .column
                    form.form-top(action="#" method="POST")
                        input(type="text" placeholder="Ваше имя").inp.inp_name.form-top__item
                        input(type="text" placeholder="Контактный телефон").inp.inp_phone.form-top__item

                        .form-select.form-top__item
                            select 
                                option(value="Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)") Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)
                                option(value="test") test 1
                                option(value="test") test 2

                        .form-select.form-top__item
                            select 
                                option(value="Выберите ближайший медцентр") Выберите ближайший медцентр
                                option(value="test") test 1
                                option(value="test") test 2

                        button.form-top-btn(type="submit") Записаться на комиссию

                        .privacy Нажимая на кнопку «Записаться на комиссию», вы принимаете условия передачи и 
                            a(href="#") обработки информации

                .column
                    .top-banner__sub-title 
                        span с наркологом и психиатором одно окно

                    .docs-block
                        .docs-block__title Список каких врачей нужно проходить:

                        ul.docs-block__list
                            li осмотр психиатра
                            li осмотр нарколога
                            li осмотр офтальмолога
                            li осмотр терапевта

                        ul.about-work.about-work__blue
                            li Время оформления:
                            li от 20 мин.

                        ul.about-work.about-work__pink
                            li Стоимость медкомиссии:
                            li от 1200 руб.

                    .about-terms 
                        |Мы не продаем справки. Для получения справки нужно обязательно пройти медосмотр.

    .about-doc.container
        h2.cont-title Медсправка водительская по новой форме 003-в/у
        .cont-txt
            p Для получения водительского удостоверения на право управления транспортными средствами необходимо в ГИБДД предоставить «Медицинское заключение о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами» по новой форме 003-В/у.

    .stages
        .container
            h2.cont-title Этапы получения медсправки водительской
            .stages__inner
                .stage-sircle
                    .stages__icon.stages__icon_cl
                        img(src="img/calendar.png")
                    .stages__icon.stages__icon_rm
                        img(src="img/reminder.png")
                    .stages__icon.stages__icon_dc
                        img(src="img/doctor.png")
                    .stages__icon.stages__icon_dl
                        img(src="img/doc-list.png")
                    ul.stages__payment.stages__payment_py
                        li
                            img(src="img/visa.png")
                        li
                            img(src="img/mc.png")
                        li
                            img(src="img/mir.png")
                    .stage-sircle__num.stage-sircle__num_one 1
                    .stage-sircle__num.stage-sircle__num_two 2
                    .stage-sircle__num.stage-sircle__num_three 3
                    .stage-sircle__num.stage-sircle__num_four 4
                    .stage-sircle__num.stage-sircle__num_five 5

                .stages__item.stages__item_first
                    .stages__icon
                        img(src="img/calendar.png")

                    .stages__article Записывайтесь на комиссию в<br> ближайщий медцентр

                    a(href="tel:78005114026").phone-link 8 (800) 511-40-26

                .stages__item.stages__item_second
                    .stages__icon
                        img(src="img/reminder.png")

                    .stages__article Приезжаете в клинику в<br> удобное время

                    .work-time.stages__work-time
                        p Пн-Пт: с 9:00 до 21:00
                        p Сб-Вс: с 10:00 до 20:00

                .stages__item.stages__item_third
                    .stages__icon
                        img(src="img/doctor.png")

                    .stages__article Проходите врачей и<br> медкомиссию

                    ul.docs-block__list.docs-block__list_stages
                        li осмотр психиатра
                        li осмотр нарколога
                        li осмотр офтальмолога
                        li осмотр терапевта

                .stages__item.stages__item_fourth
                    .stages__icon
                        img(src="img/doc-list.png")

                    .stages__article Получаете медсправку<br> водительскую

                    ul.stages__time
                        li Время оформления:
                        li от 20 мин.

                .stages__item.stages__item_fives
                    ul.stages__payment
                        li
                            img(src="img/visa.png")
                        li
                            img(src="img/mc.png")
                        li
                            img(src="img/mir.png")

                    .stages__article Оплачивайте медкомиссию<br> удобным способом

                    ul.stages__price
                        li Стоимость медкомиссии:
                        li от 1200 руб.

    .advantages
        h2.cont-title Почему нас выбирают
        .advantage-slider-wrap
            .container
                .advantage-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .advantage-slider__icon
                                img(src="img/medical-pr.png")

                            ul.advantage-slider__article
                                li 23 942
                                li Справок выдано

                        .swiper-slide
                            .advantage-slider__icon
                                img(src="img/hospital.png")

                            ul.advantage-slider__article
                                li 25
                                li Медклиник в<br> Москве и МО

                        .swiper-slide
                            .advantage-slider__icon
                                img(src="img/hospital-2.png")

                            ul.advantage-slider__article
                                li 30
                                li Опытных врачей

                        .swiper-slide
                            .advantage-slider__icon
                                img(src="img/pharmacy-2.png")

                            ul.advantage-slider__article
                                li 
                                    |20 
                                    span минут
                                li среднее время <br>комиссии

            .swiper-button-next.swiper-button-next-adv
            .swiper-button-prev.swiper-button-prev-adv

    .our-price.container
        h2.cont-title Наши специалисты

        .our-price__link
            a(href="#") Медицинские справки

        table.price-table(cellspacing="0")
            thead
                tr
                    th
                        |Наименование медсправки
                    th

                    th
                        |Цена
                    th
                        |Время медкомиссии


            tbody
                tr
                    td
                        a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |2100 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

                tr
                    td
                        a(href="#") Медсправка на оружие 002-О/у
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |2500 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

                tr
                    td
                        a(href="#") Справка на работу 086/у
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |1500 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

                tr
                    td
                        a(href="#") Справка на госслужбу 001 гс/у
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |1250 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

                tr
                    td
                        a(href="#") Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb 
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |1400 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин
