main
    .top-banner
        .bmw-img
            img(src="img/bmw.png")

        .container
            .doc-img
                img(src="img/girl.png")

            .top-banner__title
                p Медсправка водительская по новой форме 003-в/у
                p для категорий А, А1, В, В1, М, ВЕ

            .top-banner__cont
                .column
                    form.form-top(action="#" method="POST")
                        input(type="text" placeholder="Ваше имя").inp.inp_name.form-top__item
                        input(type="text" placeholder="Контактный телефон").inp.inp_phone.form-top__item

                        .form-select.form-top__item
                            select 
                                option(value="Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)") Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)
                                option(value="test") test 1
                                option(value="test") test 2

                        .form-select.form-top__item
                            select 
                                option(value="Выберите ближайший медцентр") Выберите ближайший медцентр
                                option(value="test") test 1
                                option(value="test") test 2

                        button.form-top-btn(type="submit") Записаться на комиссию

                        .privacy Нажимая на кнопку «Записаться на комиссию», вы принимаете условия передачи и 
                            a(href="#") обработки информации

                .column
                    .top-banner__sub-title 
                        span с наркологом и психиатором одно окно

                    .docs-block
                        .docs-block__title Список каких врачей нужно проходить:

                        ul.docs-block__list
                            li осмотр психиатра
                            li осмотр нарколога
                            li осмотр офтальмолога
                            li осмотр терапевта

                        ul.about-work.about-work__blue
                            li Время оформления:
                            li от 20 мин.

                        ul.about-work.about-work__pink
                            li Стоимость медкомиссии:
                            li от 1200 руб.

                    .about-terms 
                        |Мы не продаем справки. Для получения справки нужно обязательно пройти медосмотр.

    .about-doc.container
        h2.cont-title Медсправка водительская по новой форме 003-в/у
        .cont-txt
            p Для получения водительского удостоверения на право управления транспортными средствами необходимо в ГИБДД предоставить «Медицинское заключение о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами» по новой форме 003-В/у.

    .stages
        .container
            h2.cont-title Этапы получения медсправки водительской
            .stages__inner
                .stage-sircle
                    .stages__icon.stages__icon_cl
                        img(src="img/calendar.png")
                    .stages__icon.stages__icon_rm
                        img(src="img/reminder.png")
                    .stages__icon.stages__icon_dc
                        img(src="img/doctor.png")
                    .stages__icon.stages__icon_dl
                        img(src="img/doc-list.png")
                    ul.stages__payment.stages__payment_py
                        li
                            img(src="img/visa.png")
                        li
                            img(src="img/mc.png")
                        li
                            img(src="img/mir.png")
                    .stage-sircle__num.stage-sircle__num_one 1
                    .stage-sircle__num.stage-sircle__num_two 2
                    .stage-sircle__num.stage-sircle__num_three 3
                    .stage-sircle__num.stage-sircle__num_four 4
                    .stage-sircle__num.stage-sircle__num_five 5

                .stages__item.stages__item_first
                    .stages__icon
                        img(src="img/calendar.png")

                    .stages__article Записывайтесь на комиссию в<br> ближайщий медцентр

                    a(href="tel:78005114026").phone-link 8 (800) 511-40-26

                .stages__item.stages__item_second
                    .stages__icon
                        img(src="img/reminder.png")

                    .stages__article Приезжаете в клинику в<br> удобное время

                    .work-time.stages__work-time
                        p Пн-Пт: с 9:00 до 21:00
                        p Сб-Вс: с 10:00 до 20:00

                .stages__item.stages__item_third
                    .stages__icon
                        img(src="img/doctor.png")

                    .stages__article Проходите врачей и<br> медкомиссию

                    ul.docs-block__list.docs-block__list_stages
                        li осмотр психиатра
                        li осмотр нарколога
                        li осмотр офтальмолога
                        li осмотр терапевта

                .stages__item.stages__item_fourth
                    .stages__icon
                        img(src="img/doc-list.png")

                    .stages__article Получаете медсправку<br> водительскую

                    ul.stages__time
                        li Время оформления:
                        li от 20 мин.

                .stages__item.stages__item_fives
                    ul.stages__payment
                        li
                            img(src="img/visa.png")
                        li
                            img(src="img/mc.png")
                        li
                            img(src="img/mir.png")

                    .stages__article Оплачивайте медкомиссию<br> удобным способом

                    ul.stages__price
                        li Стоимость медкомиссии:
                        li от 1200 руб.

    .advantages
        h2.cont-title Почему нас выбирают
        .advantage-slider-wrap
            .container
                .advantage-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .advantage-slider__icon
                                img(src="img/medical-pr.png")

                            ul.advantage-slider__article
                                li 23 942
                                li Справок выдано

                        .swiper-slide
                            .advantage-slider__icon
                                img(src="img/hospital.png")

                            ul.advantage-slider__article
                                li 25
                                li Медклиник в<br> Москве и МО

                        .swiper-slide
                            .advantage-slider__icon
                                img(src="img/hospital-2.png")

                            ul.advantage-slider__article
                                li 30
                                li Опытных врачей

                        .swiper-slide
                            .advantage-slider__icon
                                img(src="img/pharmacy-2.png")

                            ul.advantage-slider__article
                                li 
                                    |20 
                                    span минут
                                li среднее время <br>комиссии

            .swiper-button-next.swiper-button-next-adv
            .swiper-button-prev.swiper-button-prev-adv

    .our-price.container
        h2.cont-title Наши специалисты

        .our-price__link
            a(href="#") Медицинские справки

        table.price-table(cellspacing="0")
            thead
                tr
                    th
                        |Наименование медсправки
                    th

                    th
                        |Цена
                    th
                        |Время медкомиссии


            tbody
                tr
                    td
                        a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |2100 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

                tr
                    td
                        a(href="#") Медсправка на оружие 002-О/у
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |2500 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

                tr
                    td
                        a(href="#") Справка на работу 086/у
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |1500 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

                tr
                    td
                        a(href="#") Справка на госслужбу 001 гс/у
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |1250 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

                tr
                    td
                        a(href="#") Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb 
                    td
                        button(type="button").price-table__btn Записаться на комиссию
                    td
                        .price-table__mb Цена
                        |1400 р.
                    td
                        .price-table__mb Время медкомиссии
                        |от 30 мин

    .specialist
        h2.cont-title Наши специалисты
        .specialist-slider-wrap
            .container
                .specialist-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            .specialist-slider__item
                                .specialist-slider__img
                                    img(src="img/photo-1.jpg")
                                .specialist-slider__name Дьяченко Алёна<br> Борисовна
                                .specialist-slider__article Терапевт, УЗИ-специалист
                                .specialist-slider__exp Стаж работы: 10 лет

                        .swiper-slide
                            .specialist-slider__item
                                .specialist-slider__img
                                    img(src="img/photo-2.jpg")
                                .specialist-slider__name Дьяченко Алёна<br> Борисовна
                                .specialist-slider__article Терапевт, УЗИ-специалист
                                .specialist-slider__exp Стаж работы: 10 лет

                        .swiper-slide
                            .specialist-slider__item
                                .specialist-slider__img
                                    img(src="img/photo-3.jpg")
                                .specialist-slider__name Дьяченко Алёна<br> Борисовна
                                .specialist-slider__article Терапевт, УЗИ-специалист
                                .specialist-slider__exp Стаж работы: 10 лет

                        .swiper-slide
                            .specialist-slider__item
                                .specialist-slider__img
                                    img(src="img/photo-4.jpg")
                                .specialist-slider__name Дьяченко Алёна<br> Борисовна
                                .specialist-slider__article Терапевт, УЗИ-специалист
                                .specialist-slider__exp Стаж работы: 10 лет

                        .swiper-slide
                            .specialist-slider__item
                                .specialist-slider__img
                                    img(src="img/photo-5.jpg")
                                .specialist-slider__name Дьяченко Алёна<br> Борисовна
                                .specialist-slider__article Терапевт, УЗИ-специалист
                                .specialist-slider__exp Стаж работы: 10 лет

                    .swiper-pagination

            .swiper-button-next.swiper-button-next-sp
            .swiper-button-prev.swiper-button-prev-sp


    .license
        h2.cont-title Лицензии и документы
        .specialist-slider-wrap
            .container
                .specialist-slider.swiper-container
                    .swiper-wrapper
                        .swiper-slide
                            img(src="img/liccense.jpg")
                        .swiper-slide
                            img(src="img/liccense.jpg")
                        .swiper-slide
                            img(src="img/liccense.jpg")
                        .swiper-slide
                            img(src="img/liccense.jpg")
                        .swiper-slide
                            img(src="img/liccense.jpg")



                    .swiper-pagination

            .swiper-button-next.swiper-button-next-sp
            .swiper-button-prev.swiper-button-prev-sp

    .about-us.container
        h1.cont-title Медсправка водительская по новой форме 003-в/у
        .cont-txt
            p Для получения водительского удостоверения на право управления транспортными средствами необходимо в ГИБДД предоставить «Медицинское заключение о наличии (об отсутствии) у водителей транспортных средств (кандидатов в водители транспортных средств) медицинских противопоказаний, медицинских показаний или медицинских ограничений к управлению транспортными средствами» по новой форме 003-В/у.

        ul.cont-list
            li паспорт или иное удостоверение личности;
            li фотографию 3 х 4;
            li паспорт или иное удостоверение личности;
            li фотографию 3 х 4;
            li паспорт или иное удостоверение личности;
            li фотографию 3 х 4;

    .our-services.container
        h2.cont-title Услуги медицинских центров

        table.service-data(cellspacing="0")
            thead
                tr
                    th
                        |Наименование медицинского центра
                    th
                        |Станция метро
                    th
                        |Расстояние от метро
                    th
                        |Режим работы
                    th 
                        |Виды медицинских справок
            tbody
                tr
                    td
                        |Медицинский центр на ул. Братиславская, 33
                    td
                        .service-data-mb Станция метро:
                        .metro-name.metro-name_orange Братиславская 
                            span.distance-mb , 550 м
                    td
                        |550 м 
                    td
                        span.service-data-mb Режим работы: 
                        |с 9:00 до 21:00
                    td
                        .service-data-mb Виды медсправок:
                        a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ, медсправка на оружие 002-О/у, справка на работу 086/у, cправка на госслужбу 001 гс/у

                tr
                    td
                        |Медицинский центр на ул. Подъемная, д. 10
                    td
                        .service-data-mb Станция метро:
                        .metro-name.metro-name_yellow Авиамоторная
                            span.distance-mb , 550 м
                    td
                        |550 м
                    td
                        span.service-data-mb Режим работы: 
                        |с 9:00 до 21:00
                    td
                        .service-data-mb Виды медсправок:
                        a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ, медсправка на оружие 002-О/у, справка на работу 086/у, cправка на госслужбу 001 гс/у

                tr
                    td
                        |Медицинский центр на Университетском<br> проспекте, д. 5
                    td
                        .service-data-mb Станция метро:
                        .metro-name.metro-name_red Университет
                            span.distance-mb , 550 м
                    td
                        |550 м
                    td
                        span.service-data-mb Режим работы: 
                        |с 9:00 до 21:00
                    td
                        .service-data-mb Виды медсправок:
                        a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ, медсправка на оружие 002-О/у, справка на работу 086/у, cправка на госслужбу 001 гс/у

                tr
                    td
                        |Медицинский центр на ул. Маршала<br> Захарова, дом 10, к. 1
                    td
                        .service-data-mb Станция метро:
                        .metro-name.metro-name_green Орехово
                            span.distance-mb , 550 м
                    td
                        |550 м
                    td
                        span.service-data-mb Режим работы: 
                        |с 9:00 до 21:00
                    td
                        .service-data-mb Виды медсправок:
                        a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ, медсправка на оружие 002-О/у, справка на работу 086/у, cправка на госслужбу 001 гс/у

                tr
                    td
                        |Медицинский центр на Измайловском<br> бульваре, 43
                    td
                        .service-data-mb Станция метро:
                        .metro-name.metro-name_blue Первомайская
                            span.distance-mb , 550 м
                    td
                        |550 м
                    td
                        span.service-data-mb Режим работы: 
                        |с 9:00 до 21:00
                    td
                        .service-data-mb Виды медсправок:
                        a(href="#") 
                            |Справка для категорий А, А1, В, В1, М, ВЕ, медсправка на оружие 002-О/у, справка на работу 086/у, cправка на госслужбу 001 гс/у

    .form-action-wrap.container
        form.form-action(action="#" method="POST")
            .form-action__left
                .form-action__title 
                    |Отправьте заявку - водительская справка через 20 минут!

                .form-action__top
                    .column
                        .form-action__inp-block
                            input(type="text" placeholder="Ваше имя").inp.inp_name.form-top__item
                            input(type="text" placeholder="Контактный телефон").inp.inp_phone.form-top__item

                        textarea(placeholder="Комментарий...").textarea
                    .column
                        .form-select.form-top__item
                            select 
                                option(value="Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)")
                                    |Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)
                                option(value="test") test 1
                                option(value="test") test 2

                        .form-select.form-top__item
                            select 
                                option(value="Выберите ближайший медцентр") 
                                    |Выберите медицинский центр
                                option(value="test") test 1
                                option(value="test") test 2

                .form-action__bottom
                    .column
                        button(type="submit").form-top-btn
                            |Записаться на комиссию

                    .column
                        .form-action__privacy 
                            |Нажимая на кнопку «Записаться на комиссию», вы принимаете<br> условия передачи и 
                            a(href="#") обработки информации

            .form-action__right
                img(src="img/smile.png")


