footer.footer
    .footer-top
        .column
            .footer__title
                a(href="#").main-nav__gibdd Медсправка для ГИБДД (форма 003-В/у)

            ul.footer-list
                li
                    a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ
                li
                    a(href="#") Медсправка на оружие 002-О/у
                li
                    a(href="#") Справка на работу 086/у
                li
                    a(href="#") Справка на госслужбу 001 гс/у

            .footer__phone
                a(href="tel:78005114026").phone-link 8 (800) 511-40-26

        .column
            .footer__title
                a(href="#").main-nav__weapon Медсправка на оружие

            ul.footer-list
                li
                    a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ
                li
                    a(href="#") Медсправка на оружие 002-О/у
                li
                    a(href="#") Справка на работу 086/у
                li
                    a(href="#") Справка на госслужбу 001 гс/у

        .column
            .footer__title
                a(href="#").main-nav__pop Популярные медсправки

            ul.footer-list
                li
                    a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ
                li
                    a(href="#") Медсправка на оружие 002-О/у
                li
                    a(href="#") Справка на работу 086/у
                li
                    a(href="#") Справка на госслужбу 001 гс/у

        .column
            .footer__title
                a(href="#").main-nav__work Справки на работу

            ul.footer-list
                li
                    a(href="#") Справка для категорий А, А1, В, В1, М, ВЕ
                li
                    a(href="#") Медсправка на оружие 002-О/у
                li
                    a(href="#") Справка на работу 086/у
                li
                    a(href="#") Справка на госслужбу 001 гс/у

        .column
            .footer__title
                a(href="#").main-nav__hosp Больничные листы

        .column
            ul.footer-list.footer-nav
                li
                    a(href="#").top-nav__about О клинике
                li
                    a(href="#").top-nav__price Цены
                li
                    a(href="#").top-nav__list Список врачей
                li
                    a(href="#").top-nav__adress Адреса филиалов на карте

    .footer-bottom
        .copyright
            |2020 © ГИБДД справки 
        .metr
            img(src="img/metr.jpg")






script(src="libs/jquery/jquery3.5.1.min.js")
script(src="libs/swiper/swiper.min.js")
script(src="libs/selectric/jquery.selectric.min.js")
script(src="js/common.js")
